#nav-bar {
  position: fixed;
  background-color: #00a087;
  color: #e8fdff;
  height: 80px;
  top: 0;
  right: 0;
  left: 0;
  /*padding-top: 0;   not needed but left for my comprehension*/
  padding-left: 2em;
  padding-right: 2em;
  min-width: 300px;
  z-index: 1030
  }
   #nav-bar .logo {
    float: left;
    height: 80px;
    width: 80px; }

  #nav-bar .header {
    float: left;
    font-size: 2em;
    line-height: 80px;
    padding-left: 10px; }
